body{
display:block;
}

#gameZone {
    display: inline-block;
	position: relative;	
    width: 85%;
	height: 100vh;
	border: 1px solid black;
	float:left;
}

#otherZone {
    display: inline-block;
	position: relative;
    width: 15%;
	height: 100vh;
	border: 1px solid black;
	float:right;
}

#playerInfo {
    display: inline-block;  
	position: relative;
    width: 100%;
	height: 40%;
	border: 1px solid black;
	float:left;
}

#graveyard {
    display: inline-block;  
	position: relative;
    width: 100%;
	height: 30%;
	border: 1px solid black;
	float:left;
	
}

#deck {
    display: inline-block;
	position: relative;
	width: 100%;
	height: 30%;
	border: 1px solid black;
	float:left;
}

#life {
    display: inline-block;
	position: relative;
	width: 100%;
	height: 70%;
	border: 1px solid black;
	float:left;
}

#cardNumber {
    display: inline-block;
	position: relative;
	width: 100%;
	height: 30%;
	border: 1px solid black;
	float:left;
}

#lifeDisplay {
    display: inline-block;
	position: relative;
	width: 100%;
	height: 50%;
	float:left;
}

#lifeModify {
    display: inline-block;
	position: relative;
	width: 100%;
	height: 50%;
	float:left;
}

#lifeUp {
    display: inline-block;
	position: relative;
	width: 50%;
	height: 100%;
	float:left;
}

#lifeDown {
    display: inline-block;
	position: relative;
	width: 50%;
	height: 100%;
	float:left;
}

#lifeImage {
    display: inline-block;
	position: relative;
	width: 50%;
	height: 100%;
	float:left;
}

#lifeValue {
    display: inline-block;
	position: relative;
	width: 50%;
	height: 100%;
	float:left;
}

#cardNumberImage {
    display: inline-block;
	position: relative;
	width: 50%;
	height: 100%;
	float:left;
}

#cardNumberValue {
    display: inline-block;
	position: relative;
	width: 50%;
	height: 100%;
	float:left;
}

.card {
    display: inline-block;
    position: absolute;
    top: 0px;
	left: 0px;
    zIndex: 0;
    width: 20vh;
    height: 30vh;
}

img {
    display: inline-block;
    position: relative;
    width: 20vh;
    height: 30vh;
}